@import "tailwindcss";

html {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */

}

.markdown > * {
  all: revert;
}






:root {
  --background: #0a0a0a;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .please {
    @apply block w-[70%] px-3 py-2 rounded-xl shadow-sm focus:outline-none focus:ring-2 focus:ring-white border border-gray-600 text-white;
  }

  .createInput {
    @apply block  px-3 py-2 rounded-xl shadow-sm focus:outline-none focus:ring-2 focus:ring-white border border-gray-600 text-white;
  }

  .spinner {
    @apply inline-block h-4 w-4 animate-spin rounded-full border-2 border-solid border-t-transparent transform translate-y-0.5
  }

}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE/Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




.loader {
  border: 2px solid #d82525;
  /* Light gray */
  border-top: 2px solid #09b35e;
  /* Blue */
  border-radius: 50%;
  width: 77px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}